html {
    height: 100%;
    background-color: #4b1762;
}
body {
    padding-top: 20px;
    background-color: #4b1762;
    min-height: 100%;
    color: white;
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400; 
    font-size: 13px;
}
.Centered {
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}
img#logo{
    width: 500px;
    margin-bottom: 50px;
}
p#domain {
    margin-bottom: 40px;
    font-size: 1.5em;
}
p#moreInfo {
    font-size: 1.3em;
}
footer {
    bottom: 0;
    position: absolute;
    height: 100px;
    width: 100%;
}